/* bulma classes */

html { /* hides the vertical scroll bar if it is not needed */
  overflow-y: auto;
}

.navbar {
  min-height:56px; /* needed to avoid heigth change when Log In and Sign Up buttons are hidden */
  background-color: rgba(50,115,220,1) !important;
}

body footer .has-text-centered {
  width:100%;
}

button::-moz-focus-inner { /* disable ugly dotted focus outlines in Firefox */
  border: 0;
}

/* simgait classes */

.brand-logo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em;
}

.brand-logo {
  width: 10vw;
  min-width: 10em;
  max-width: 100%;
  margin-left:2em;
  margin-right:2em;
  transition: transform .2s;
  /* Firefox 3.5+ */
  filter: url(filters.svg#grayscale);
  /* IE6-9 */
  filter: gray;
  /* Google Chrome & Safari 6+ */
  -webkit-filter: grayscale(1);
}

.brand-logo:hover {
  filter: none;
  -webkit-filter: none;
  transform: scale(1.2);
  z-index: 10;
}

/* webots.js classes */

.webots-view-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 20px 0 0;
  height: calc(0.8 * (100vh - 115px));
  width: calc(100% + 2px);
}

webots-view {
  width: 100%;
  display: block;
  position: relative;
  font-family: Helvetica;
}

.chart-container {
  position: absolute;
  width: 50%;
}

.graph-container {
  position: absolute;
  left: 8px;
  width: calc(100% - 16px);
  height: calc(100% - 47px);
}

.menu-div {
  height: 20px;
  width: 100%;
  text-align: left;
  color: white;
}

.menu span {
  text-decoration: none;
  color: black;
  font-size: 12px;
  background-color: white;
}

.menu {
    margin:0; padding:0;
    width: 160px;
    height: 20px;
    position: absolute;
    top:0;
    left: 30px;
    background-color: white;
}

.menu li {
    float:none;
}

.menu span {
   padding: 0 5px;
   vertical-align: text-bottom;
}

.menu ul span:hover {
   background: #bbb
}

.menu ul {
    width: 160px;
    position: absolute;
    visibility: hidden;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    opacity: 0;
    z-index: 10;
}

.menu:hover ul {
    margin:0;
    opacity: 1;
    visibility: visible;
}

.menu ul li {
    clear:both
}

.menu ul li span {
    width: auto;
    display:block;
}

.menu ul li ul {
    position: absolute;
    top: 0; left: 100%;
    margin: 0 0 0 20px;
    display: block;
    visibility: hidden;
    opacity: 0;
    width: auto;
}

.menu ul li ul li {
    position: relative;
    display:none;
    visibility: hidden;
    opacity: 0;
}

.menu ul li:hover ul li {
    visibility: visible;
    opacity: 1;
    display:block;
}

.menu .arrow-down {
  padding: 0;
  background-color: transparent;
  position: absolute;
  color: black;
  font-size: 24px;
  top: -12px;
  left: 140px;
}

.menu .right-arrow {
  position: absolute;
  padding: 0;
  background-color: transparent;
  color: black;
  font-size: 24px;
  left: 150px;
  pointer-events: none;
}

.menu .right-arrow:hover {
  background-color: transparent;
}

.menu .flyout-separator {
  pointer-events: none;
  width: 160px;
  background-color: white;
  border-bottom: solid 1px #d3d1d1;
}

.menu .flyout-spacing {
  pointer-events: none;
  width: 160px;
  background-color: white;
  height: 4px;
}

#main-container {
  min-height: calc(100vh - 260px);
}

#main-container.webotsView {
  height: calc(100% - 48px);
  min-height: 10px;
}

div.table-container {
  display: grid;
}

.table-container tr {
  height: 50px;
}

.column-title {
  user-select: none;
}

.fa-sort-up {
  color: grey;
  position: absolute;
  padding-left: 6px;
  top: 167px;
}

.fa-sort-down {
  color: grey;
  position: absolute;
  padding-left: 6px;
  top: 160px;
}

.pagination-link.is-current {
    background-color: rgba(50,115,220,1);
    border: none;
}

.thumbnail {
    opacity: 0;
    position: relative;
    pointer-events: none;
    transform: scale(1);
}

.thumbnail-container {
  position: absolute;
  top: 5px;
  left: 120px;
  height: 180px;
  width: 640px;
  background: rgba(38, 38, 38, 1);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px black;
  display: flex;
  overflow: hidden;
}

.thumbnail-image {
  height: 180px;
  object-fit: cover;
  box-shadow: 0 0 10px black;
  z-index: 2;
}

.thumbnail-description {
  position: relative;
  height: 100%;
  color: white;
  padding: 10px;
  font-size: small;
  overflow: hidden;
  margin: auto;
}

.thumbnail-description-fade {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(38, 38, 38, 0) 80%, rgba(38, 38, 38, 1) 95%);
  z-index: 1;
}

.thumbnail-button-container {
  position: relative;
}

.thumbnail-button-container button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.thumbnail-button-container button:hover {
  background-color: black;
}

.table-title:hover~.thumbnail {
    opacity: 1;
    transition: all 0.2s ease-in-out;
    transition-delay: 0.5s;
}

#webots-view-container {
    height: 100%;
    max-width: none;
}
