/* bulma classes */

html { /* hides the vertical scroll bar if it is not needed */
  overflow-y: auto;
}

.navbar {
  min-height:56px; /* needed to avoid heigth change when Log In and Sign Up buttons are hidden */
}

body footer .has-text-centered {
  width:100%;
}

button::-moz-focus-inner { /* disable ugly dotted focus outlines in Firefox */
  border: 0;
}

/* simgait classes */

.brand-logo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em;
}

.brand-logo {
  width: 10vw;
  min-width: 10em;
  max-width: 100%;
  margin-left:2em;
  margin-right:2em;
  transition: transform .2s;
  /* Firefox 3.5+ */
  filter: url(filters.svg#grayscale);
  /* IE6-9 */
  filter: gray;
  /* Google Chrome & Safari 6+ */
  -webkit-filter: grayscale(1);
}

.brand-logo:hover {
  filter: none;
  -webkit-filter: none;
  transform: scale(1.2);
  z-index: 10;
}

/* webots.js classes */

.webots-view-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 20px 0 0;
  height: calc(0.8 * (100vh - 115px));
  width: calc(100% + 2px);
}

webots-view {
  width: 100%;
  display: block;
  position: relative;
}

.chart-container {
  position: absolute;
  height: calc(50% - 26px);
  width: calc(50% - 4px);;
}

.menu-div {
  height: 20px;
  width: 100%;
  text-align: left;
  color: white;
}

.menu span {
  text-decoration: none;
  color: black;
  font-size: 12px;
  background-color: white;
}

.menu {
    margin:0; padding:0;
    width: 160px;
    height: 20px;
    position: absolute;
    top:0;
    left: 30px;
    background-color: white;
}

.menu li {
    float:none;
}

.menu span {
   padding: 0 5px;
   vertical-align: text-bottom;
}

.menu ul span:hover {
   background: #bbb
}

.menu ul {
    width: 160px;
    position: absolute;
    visibility: hidden;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    opacity: 0;
    z-index: 10;
}

.menu:hover ul {
    margin:0;
    opacity: 1;
    visibility: visible;
}

.menu ul li {
    clear:both
}

.menu ul li span {
    width: auto;
    display:block;
}

.menu ul li ul {
    position: absolute;
    top: 0; left: 100%;
    margin: 0 0 0 20px;
    display: block;
    visibility: hidden;
    opacity: 0;
    width: auto;
}

.menu ul li ul li {
    position: relative;
    display:none;
    visibility: hidden;
    opacity: 0;
}

.menu ul li:hover ul li {
    visibility: visible;
    opacity: 1;
    display:block;
}

.menu .arrow-down {
  padding: 0;
  background-color: transparent;
  position: absolute;
  color: black;
  font-size: 24px;
  top: -12px;
  left: 140px;
}

.menu .right-arrow {
  position: absolute;
  padding: 0;
  background-color: transparent;
  color: black;
  font-size: 24px;
  left: 150px;
}

.menu .right-arrow:hover {
  background-color: transparent;
}
