<?php  # Fill in your database password and copy this file to database.php
$database_host = 'localhost';
$database_name = 'simgait';
$database_username = 'admin';
$database_password = '********';  # insert your password here
?>
